
.thread {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.messages {
  margin-bottom: 10px;
}

.message {
  margin: 10px 0;

  .user {
    color: gray;
  }
}

.message-form {
  -webkit-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
  border-radius: 0;
  border: 2px solid gray;
  height: 40px;
}

.user-view {
  height: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;

  .name {
    flex: 1;
  }
}
