@import url(https://fonts.googleapis.com/css?family=Raleway:700)

;$color-message-user: #242424
$color-message-form-border: #cccccc
$color-header-background: #525282
$color-header: #ffffff

body
  font-family: -apple-system, ‘Helvetica Neue’, ‘Hiragino Kaku Gothic ProN’, ‘メイリオ’, meiryo, sans-serif


.header
  height: 50px
  max-width: 100%
  border-bottom: 1px solid darken($color-header-background, 15%)
  color: $color-header
  background-color: $color-header-background
  & > *
    padding-left: 10px
    padding-right: 10px
  .app-name
    // color: $color-app-name
    font-family: Raleway
    padding-top: 4px
    font-size: 22px
    height: 30px
  .user-view
    display: flex
    font-size: 12px
    .name
      flex: 1
    a
      color: $color-header
      &:hover
        color: darken($color-header, 15%)

.thread-container
  margin: 0 auto
  max-width: 400px
  display: flex
  flex-direction: column
  padding: 20px

  .messages
    margin-bottom: 10px

  .message
    margin: 10px 0

    .user
      color: $color-message-user
      font-weight: bold

  .message-form
    -webkit-appearance: none
    appearance: none
    resize: none
    outline: none
    border-radius: 2px
    border: 2px solid $color-message-form-border
    height: 40px

    &:hover
      border: 2px solid darken($color-message-form-border, 20%)
